<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <root>
    <level value="DEBUG"/>
    <appender-ref ref="ConsoleAppender" />
  </root>
  <logger name="defaultLogger">
    <level value="DEBUG" />
    <appender-ref ref="FileAppender" />
  </logger>
  <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="PortfolioApiLogs\" />
    <datePattern value="yyyy-MM-dd'-FULL.log'" />
    <staticLogFileName value="false" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <maxSizeRollBackups value="100" />
    <maximumFileSize value="5MB" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%utcdate [THREAD %thread] [TIMESTAMP %timestamp] [LEVEL %-5level] [LOGGER %logger]: %method - Line %line - %exception" />
    </layout>
  </appender>
</log4net>
